# 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Import Dataframe

In [2]:
# create path
path = r'C:\Users\mngun\Documents\11_2023_InstaCart_asket_Analysis'

In [3]:
# import orders_products_combined dataframe
df_1 = pd.read_pickle(os.path.join(path,'02_Data','Prepared Data','order_products_combined.pkl'))

In [4]:
# import cleaned, deduped products dataframe
df_2 = pd.read_csv(os.path.join(path,'02_Data','Prepared Data','df_prods_checked'),index_col = False)

# 03. Checking the shape of the dataframes before

In [5]:
# checking shape of dataframe df_1
df_1.shape

(32434489, 11)

In [6]:
# checking the shape of dataframe df_2
df_2.shape

(49672, 5)

In [7]:
# dropping '_merger' column from previous merger
df_1 = df_1.drop(columns = ['_merge'])

In [12]:
# checking coulmns of dataframe
df_1.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_purchase,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [13]:
# confirming shape of df_1
df_1.shape

(32434489, 10)

In [14]:
# checking coulmns of dataframe
df_2.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

- The two dataframes share the 'product_id' column

# 04. Merger of Products and Orders dataframes

In [15]:
# merger of both dataframes using merge flag and specifying how
df_merged = df_1.merge(df_2, on = 'product_id', indicator = True)

In [16]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_purchase,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

In [17]:
# confirming the results using merge flag
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# 05. Exporting Merged Dataframe

In [18]:
# exporting final dataframe as .pkl file
df_merged.to_pickle(os.path.join(path,'02_Data','Prepared Data','ords_prods_merge.pkl'))