# Life Expectancy Worldbank

Contents
1. Importing Libraries
2. Import Dataframes
3. Exploring the Dataset
4. Data Cleaning
 - 4.1. Renaming columns
 - 4.2. Missing Values
   * 4.2.1 missing values in health_spend
   * 4.2.2 missing values in electric_consumption
   * 4.2.3 missing values in adult_obesity
   * 4.2.4 missing values in beer_consumption
 - 4.3. Mixed Type Columns
 - 4.4. Duplicates
5. Export Dataframes

# 01. Importing Libraries

In [14]:
import pandas as pd
import numpy as np
import os

# 02. Import Dataframes

In [15]:
# create path to folder
path = r'C:\Users\mngun\OneDrive\Desktop\Data Analysis\Data Immersion\Achievement 6\Life Expectancy'

In [16]:
# import dataframe
df_life = pd.read_csv(os.path.join(path, '02_Data', 'Original Data', 'Life_Expectancy_00_20.csv'),index_col = False)

In [55]:
pd.options.display.max_rows = 500

# 03. Exploring the Dataset

In [17]:
# checking the length and breadth of the dataframe
df_life.shape

(2469, 17)

In [18]:
# checking column headings adn some values
df_life.head(4)

,Country,Year,Continent,Least Developed,Life Expectancy,Population,CO2 emissions,Health expenditure,Electric power consumption,Forest area,GDP per capita,Individuals using the Internet,Military expenditure,People practicing open defecation,People using at least basic drinking water services,Obesity among adults,Beer consumption per capita
0,Albania,2000,Europe,False,73.955,3089027,1.026213,7.233370,1414.703784,28.076642,3860.804627,0.114097,1.246360,0.888853,86.754471,12.8,1.33431
1,Albania,2001,Europe,False,74.288,3060173,1.055496,7.139524,1449.647413,28.123248,4299.546493,0.325798,1.309291,0.836397,86.904070,13.3,1.48995
2,Albania,2002,Europe,False,74.579,3051010,1.232379,6.909341,1351.230796,28.169854,4661.402695,0.390081,1.320034,0.781899,87.451635,13.9,1.28697
3,Albania,2003,Europe,False,74.828,3039616,1.338985,7.063490,1578.165919,28.216460,5000.049363,0.971900,1.336843,0.728191,87.987194,14.4,1.44830
4,Albania,2004,Europe,False,75.039,3026939,1.404059,6.773372,1469.264539,28.263066,5427.732662,2.420388,1.381158,0.675281,88.510583,15.0,1.37617

In [19]:
# retrieving basic statistics of dataframe
df_life.describe()

,Year,Life Expectancy,Population,CO2 emissions,Health expenditure,Electric power consumption,Forest area,GDP per capita,Individuals using the Internet,Military expenditure,People practicing open defecation,People using at least basic drinking water services,Obesity among adults,Beer consumption per capita
count,2469.000000,2469.000000,2.469000e+03,2469.000000,2460.000000,1904.000000,2469.000000,2469.000000,2469.000000,2469.000000,2469.000000,2469.000000,2017.000000,2352.000000
mean,2009.902795,71.559010,5.236223e+07,5.272697,6.247636,3795.909462,30.438031,19674.561646,37.061804,2.115813,8.532194,87.385692,16.436143,2.218313
std,6.026235,8.232460,1.702141e+08,6.019071,2.513734,4546.577231,20.635980,20119.249089,30.623988,2.714528,16.299995,17.896623,8.304198,1.868369
min,2000.000000,43.065000,3.331660e+05,0.032419,0.410000,22.755823,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.100000,0.000000
25%,2005.000000,67.841000,4.267341e+06,1.049628,4.266391,605.280403,11.640042,5225.172934,7.500000,1.048368,0.000000,83.381687,8.800000,0.508250
50%,2010.000000,73.439000,1.082088e+07,3.607441,6.104830,2143.657892,30.977036,12459.317960,30.880000,1.503478,0.498180,95.279568,18.200000,1.880000
75%,2015.000000,77.602439,3.797475e+07,7.349942,7.983875,5407.221626,45.965302,28821.261720,64.700000,2.349428,8.874331,99.589009,22.500000,3.690503
max,2020.000000,83.904878,1.411100e+09,50.954034,18.815826,25590.689430,91.978112,141634.703800,99.701504,32.655671,86.799174,100.000005,37.300000,7.877850

# 04. Data Cleaning

# 4.1 Renaming Columns

In [39]:
# shortening names of columns in dataframe
df_life.rename(columns={'Life Expectancy': 'life_expect','CO2 emissions':'CO2_emiss','Health expenditure':'health_spend','Electric power consumption':'electric_consumption', 'Forest area':'forest_area','GDP per capita':'gdp_per_capita','Individuals using the Internet':'internet_usage','Military expenditure':'military_spend','People practicing open defecation':'open_defecation','People using at least basic drinking water services':'drinking_water_services','Obesity among adults':'adult_obesity','Beer consumption per capita':'beer_consumption'},inplace = True)

In [40]:
# confirming succesful renaming of columns
df_life.head(5)

,Country,Year,Continent,Least Developed,life_expect,Population,CO2_emiss,health_spend,Electric_consumption,forest_area,gdp_per_capita,internet_usage,military_spend,open_defecation,drinking_water_services,adult_obesity,beer_consumption
0,Albania,2000,Europe,False,73.955,3089027,1.026213,7.233370,1414.703784,28.076642,3860.804627,0.114097,1.246360,0.888853,86.754471,12.8,1.33431
1,Albania,2001,Europe,False,74.288,3060173,1.055496,7.139524,1449.647413,28.123248,4299.546493,0.325798,1.309291,0.836397,86.904070,13.3,1.48995
2,Albania,2002,Europe,False,74.579,3051010,1.232379,6.909341,1351.230796,28.169854,4661.402695,0.390081,1.320034,0.781899,87.451635,13.9,1.28697
3,Albania,2003,Europe,False,74.828,3039616,1.338985,7.063490,1578.165919,28.216460,5000.049363,0.971900,1.336843,0.728191,87.987194,14.4,1.44830
4,Albania,2004,Europe,False,75.039,3026939,1.404059,6.773372,1469.264539,28.263066,5427.732662,2.420388,1.381158,0.675281,88.510583,15.0,1.37617

In [56]:
# counting the number of unique countries in dataset and the number of entries for each
df_life['Country'].value_counts(dropna = False)

Country
Albania                21
Namibia                21
Paraguay               21
Panama                 21
Pakistan               21
Oman                   21
Norway                 21
North Macedonia        21
Nigeria                21
Niger                  21
Nicaragua              21
New Zealand            21
Netherlands            21
Nepal                  21
Myanmar                21
Algeria                21
Mozambique             21
Morocco                21
Montenegro             21
Mongolia               21
Moldova                21
Mexico                 21
Mauritius              21
Malta                  21
Malaysia               21
Luxembourg             21
Lithuania              21
Libya                  21
Peru                   21
Philippines            21
Poland                 21
Portugal               21
Uruguay                21
United States          21
United Kingdom         21
Ukraine                21
Turkiye                21
Tunisia                21
Trinidad and Tobago    21
Togo                   21
Thailand               21
Tanzania               21
Tajikistan             21
Switzerland            21
Sweden                 21
Sudan                  21
Sri Lanka              21
Spain                  21
South Africa           21
Slovenia               21
Slovak Republic        21
Serbia                 21
Senegal                21
Saudi Arabia           21
Russian Federation     21
Romania                21
Qatar                  21
Latvia                 21
Kyrgyz Republic        21
Kuwait                 21
Denmark                21
Kenya                  21
Croatia                21
Cote d'Ivoire          21
Costa Rica             21
Colombia               21
China                  21
Chile                  21
Canada                 21
Cameroon               21
Cambodia               21
Bulgaria               21
Brunei Darussalam      21
Brazil                 21
Botswana               21
Bolivia                21
Benin                  21
Belgium                21
Belarus                21
Bangladesh             21
Bahrain                21
Austria                21
Australia              21
Armenia                21
Argentina              21
Angola                 21
Czechia                21
Cyprus                 21
Ecuador                21
Greece                 21
Kazakhstan             21
Jordan                 21
Jamaica                21
Italy                  21
Israel                 21
Ireland                21
Iraq                   21
Indonesia              21
India                  21
Hungary                21
Honduras               21
Guatemala              21
Ghana                  21
Finland                21
El Salvador            21
Eritrea                21
Estonia                21
Ethiopia               21
France                 21
Gabon                  21
Georgia                21
Germany                21
Zimbabwe               21
Iran                   16
Egypt                  16
Congo Dem. Rep.        16
Congo Rep.             16
Venezuela              16
Yemen                  16
Name: count, dtype: int64

# 4.2. Missing values

In [42]:
# counting null values in dataset
df_life.isnull().sum()

Country                      0
Year                         0
Continent                    0
Least Developed              0
life_expect                  0
Population                   0
CO2_emiss                    0
health_spend                 9
Electric_consumption       565
forest_area                  0
gdp_per_capita               0
internet_usage               0
military_spend               0
open_defecation              0
drinking_water_services      0
adult_obesity              452
beer_consumption           117
dtype: int64

# 4.2.1 Missing values in health_spend

In [67]:
df_missing_health = df_life[df_life['health_spend'].isnull()]

In [71]:
# grouping missing values datframe by year
df_missing_health.groupby(['Year']).Country.nunique()

Year
2016    1
2017    1
2018    1
2019    3
2020    3
Name: Country, dtype: int64

In [72]:
# grouping missing values by Country
df_missing_health.groupby(['Country']).Year.nunique()

Country
Albania         2
Libya           5
Saudi Arabia    2
Name: Year, dtype: int64

# 4.2.2 Missing values in electric_consumption

In [44]:
# creating a subset for rows with missing Electric_consumption 
df_missing_power = df_life[df_life['Electric_consumption'].isnull()]

In [57]:
# grouping the original datframe by Year for each unique country
df_life.groupby(['Year']).Country.nunique()

Year
2000    119
2001    119
2002    119
2003    119
2004    119
2005    119
2006    119
2007    119
2008    119
2009    119
2010    119
2011    119
2012    119
2013    119
2014    119
2015    119
2016    113
2017    113
2018    113
2019    113
2020    113
Name: Country, dtype: int64

In [31]:
# grouping the missing values by year for each unique country
df_missing_power.groupby(['Year']).Country.nunique()

Year
2016    113
2017    113
2018    113
2019    113
2020    113
Name: Country, dtype: int64

Note: missing consumption values are in the years 2016 to 2020 for Egypt, Iran, Congo Dem. Rep., Congo Rep., Venezuela and Yemen

# 4.2.3 Missing values in adult_obesity

In [47]:
# create subset for rows with missing values in adult_obesity column
df_missing_obesity = df_life[df_life['adult_obesity'].isnull()]

In [64]:
# grouping the missing values by country
df_missing_obesity.groupby(['Year']).Country.nunique()

Year
2017    113
2018    113
2019    113
2020    113
Name: Country, dtype: int64

# 4.2.4 Missing values in beer_consumption

In [49]:
# create subset for rows with missing values in beer_consumption column
df_missing_beer = df_life[df_life['beer_consumption'].isnull()]

In [66]:
# grouping missing values by country and each unique year
df_missing_beer.groupby(['Country']).Year.nunique()

Country
Albania                1
Algeria                1
Angola                 1
Argentina              1
Armenia                1
Australia              1
Austria                1
Bahrain                1
Bangladesh             1
Belarus                1
Belgium                1
Benin                  1
Bolivia                1
Botswana               1
Brazil                 1
Brunei Darussalam      1
Bulgaria               1
Cambodia               1
Cameroon               1
Canada                 1
Chile                  1
China                  1
Colombia               1
Costa Rica             1
Cote d'Ivoire          1
Croatia                1
Cyprus                 1
Czechia                1
Denmark                1
Ecuador                1
El Salvador            1
Eritrea                1
Estonia                1
Ethiopia               1
Finland                1
France                 1
Gabon                  1
Georgia                1
Germany                1
Ghana                  1
Greece                 1
Guatemala              1
Honduras               1
Hungary                1
India                  1
Indonesia              1
Iraq                   1
Ireland                1
Israel                 1
Italy                  1
Jamaica                1
Jordan                 1
Kazakhstan             1
Kenya                  1
Kuwait                 1
Kyrgyz Republic        1
Latvia                 1
Libya                  1
Lithuania              1
Luxembourg             1
Malaysia               1
Malta                  1
Mauritius              1
Mexico                 1
Moldova                1
Mongolia               1
Montenegro             1
Morocco                1
Mozambique             1
Myanmar                1
Namibia                1
Nepal                  1
Netherlands            1
New Zealand            1
Nicaragua              1
Niger                  1
Nigeria                1
North Macedonia        1
Norway                 1
Oman                   1
Pakistan               1
Panama                 1
Paraguay               1
Peru                   1
Philippines            1
Poland                 1
Portugal               1
Qatar                  1
Romania                1
Russian Federation     1
Saudi Arabia           1
Senegal                1
Serbia                 1
Slovak Republic        1
Slovenia               1
South Africa           1
Spain                  1
Sri Lanka              1
Sudan                  5
Sweden                 1
Switzerland            1
Tajikistan             1
Tanzania               1
Thailand               1
Togo                   1
Trinidad and Tobago    1
Tunisia                1
Turkiye                1
Ukraine                1
United Kingdom         1
United States          1
Uruguay                1
Zimbabwe               1
Name: Year, dtype: int64

In [65]:
# grouping the missing values by Year and each unique country
df_missing_beer.groupby(['Year']).Country.nunique()

Year
2016      1
2017      1
2018      1
2019      1
2020    113
Name: Country, dtype: int64

 #all countries have missing beer_consumption data in year 2020. Sudan is missing 2016 to 2020!

# 4.2.5 Limiting dataset range of years (2000 to 2015)

In [73]:
# limiting the datframe to years 2000 to 2015
df_life_cleaned = df_life[df_life['Year']<2016]

In [74]:
# confirming that there are no missing values
df_life_cleaned.isnull().sum()

Country                    0
Year                       0
Continent                  0
Least Developed            0
life_expect                0
Population                 0
CO2_emiss                  0
health_spend               0
Electric_consumption       0
forest_area                0
gdp_per_capita             0
internet_usage             0
military_spend             0
open_defecation            0
drinking_water_services    0
adult_obesity              0
beer_consumption           0
dtype: int64

# 4.3 Mixed Type columns

In [75]:
# checking mixed values in dataset - no mixed typed data in columns!
for col in df_life_cleaned.columns.tolist():
    if len(df_life_cleaned[col].apply(type).unique()) > 1:
        print(col + ' has mixed datatype')
    else:
        print(col + ' no mixed datatype')

Country no mixed datatype
Year no mixed datatype
Continent no mixed datatype
Least Developed no mixed datatype
life_expect no mixed datatype
Population no mixed datatype
CO2_emiss no mixed datatype
health_spend no mixed datatype
Electric_consumption no mixed datatype
forest_area no mixed datatype
gdp_per_capita no mixed datatype
internet_usage no mixed datatype
military_spend no mixed datatype
open_defecation no mixed datatype
drinking_water_services no mixed datatype
adult_obesity no mixed datatype
beer_consumption no mixed datatype

# 4.4 Duplicates

In [77]:
# checking for duplicates
dups = df_life_cleaned[df_life_cleaned.duplicated()]

In [78]:
# checking duplicates - no duplicate rows!
dups.shape

(0, 17)

# 04. Export Dataframes

In [79]:
# export reviewed dataset to pickle file format
df_life_cleaned.to_pickle(os.path.join(path,'02_Data','Prepared Data', 'df_life_expectancy_clean.pkl'))